* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

:root {
  font-size: 62.5%;
}

body {
  /* background-image: url(img/img.png); */
  background-size: cover;
  display: grid;
  grid-template-rows: max-content;
  height: 100vh;
}

nav {
  font-size: 2rem;
  margin: 5rem 0 0 7.2rem;
  display: flex;
  gap: 5rem;

  align-items: center;

}

a {
  text-decoration: none;
}

nav a:hover {
  font-weight: 700;
}

#app {
  display: flex;
  /* align-items: center; */
  /* justify-self: center; */
  padding: 10rem;
}

#app .on-center {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0 auto;

  align-items: center;

  gap: 1.6rem;
}

#app .on-top {
  display: flex;
  flex-direction: column;
  align-self: initial;

  text-align: left;
  gap: 2.4rem;

  max-width: 64.8rem;
}


#app h1 {
  font-size:4.8rem;
  font-weight: 800;
}

#app p {
  font-size: 1.8rem;
  line-height: 160%;
  text-align: center;
}

#app .on-top p {
  text-align: left;
}

#app button {
  width: fit-content;
  padding: 1rem;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  text-transform: uppercase;
}

#app button:hover {
  cursor: pointer;
  background-color: #fff;
}

#app button:hover a {
  color: #02799D;
  font-weight: 700;
}

.home {
  background-image: url(img/home.png);
}

.exploration {
  background-image: url(img/exploration.png);
}

.universe {
  background-image: url(img/universe.png);
}
